body {
  margin: 0; 
  padding: 0;
  color: #b3b3b3;
  background: linear-gradient(180deg, #0a0a0f, #0d1a26);
  background-color: #0c0c14;
  min-height: 100vh;
  font-family: 'Inter';
  text-align: left;
  position: relative;
  padding-bottom: 60px;
}



ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3333332a;
  font-size: 20px;

}

ul.a li {
  float: left;
}

ul.a li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.a li a:hover {
  color: #80878dc2;
  transition: 0.3s;

}

ul{
text-align: left;
}


h1 {
  font-family: 'Inter';
  font-size: 3.2rem;
  margin-left: 2rem;
  color: #e9e9e9;
  text-align: left;
  margin-top: 0.3rem;
  
} 
h4 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1.3rem;
  text-align: left;
  margin-left: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50rem;
  margin-left: 2rem;
  color: #b3b3b3;
  text-align: left;
}

#large-text{
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
}

#footer {
  margin-bottom: 40px;
  color: #666;
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-left: 20%;
}
/* */
.button {
width: auto;
text-align: left;
transition: background 0.15s, transform 0.1s;
cursor: pointer;
user-select: none;
margin-left: 1rem;
align-content: left;
}

.button:hover{
  color: #babdc0c2;

}

.button:active{
transform: scale(0.995, 0.98);

}

#text_content {
text-align: center;
font-size: 1rem;

}

#website-link{
display: block;
width:fit-content ;
padding: 12px 20px;
background-color: #01346698;
color: #b3b3b3;
text-decoration: none;
font-size: 13px;
border-radius: 8px;
text-align: left;
transition: background 0.15s, transform 0.1s;
margin-left:2rem;
}