body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  background: linear-gradient(180deg, #0a0a0f, #0d1a26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.largeimg {
  max-width: 40rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(77, 166, 255, 0.25);
  
}

.smallimg {
  max-width: 20rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(77, 166, 255, 0.25);
}
.two_col{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
.left_col{
  flex: 3;
  max-width: 50rem;
  min-width: 20rem;
  margin: 1rem;
}
.right_col{
  flex: 2;
  min-width: 10rem;
  max-width: 50rem;
  margin: 1rem;

}
.right_col img{
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
.rightbig .left_col{
  flex: 2;
}
.rightbig .right_col{
  flex: 3;
}
header {
  margin-top: 100px;
}
h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  color: #4da6ff;
}
h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  margin-top: 2rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: auto;
  color: #b3b3b3;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400rem;
}
ul {
  line-height: 1.5;
  font-size: 1rem;
  color: #b3b3b3;
}
footer {
  margin-bottom: 40px;
  color: #666;
  font-size: 0.9rem;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0.8rem;
}
nav a {
  background-color: #4da6ff;
  color: #0a0a0f;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 1s;
}
nav a:hover {
  color: #66b3ff
}
section {
  padding: 40px 20px;
  margin-bottom: 20px;
}
section:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}
section:nth-child(odd) {
  background-color: rgba(0, 238, 255, 0.151);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);

}
.img_caption p{
  flex: 1;
  font-size: 0.85rem
}