body {
  margin: 0; 
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  background: linear-gradient(180deg, #0a0a0f, #0d1a26);
  min-height: 100vh;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font-size: 20px;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}





header {
  margin-top: 100px;
}
h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  color: #4da6ff;
  text-align: center;
  
} 
h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  margin-top: 2rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: auto;
  color: #b3b3b3;
}

footer {
  margin-bottom: 40px;
  color: #666;
  font-size: 0.9rem;
  text-align: center;

}

.button {
display: inline-block;
width: 300px;
padding: 12px 20px;
background-color: #185FA5;
color: #E6F1FB;
text-decoration: none;
font-family: "Monaco", monospace;
font-size: 13px;
border-radius: 8px;
text-align: center;
border: 1px solid #0C447C;
transition: background 0.15s, transform 0.1s;
cursor: pointer;
}

.button:hover{
box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
transform: scale(1.01, 1.05);
}

.button:active{
transform: scale(0.99, 0.95);

}